<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h1>회원가입 페이지</h1>

    <form method="POST" action="/signup">
        <label>ID</label>
        <input
            name="id"
            type="text"
            placeholder="Enter ID">
            <br><br>

        <label>Password</label>
        <input
            name="password"
            type="password"
            placeholder="Enter Password">
            <br><br>
        <label>Confirm Password</label>
        <input
            name="confirmpassword"
            type="password"
            placeholder="Confirm Password">
            <br><br>
        
        <button type="submit" class="btn btn-primary" style="width: 100px; color: white; background-color: #125bf9; border-color: #125bf9;">
            sign up
        </button>
    </form>
</body>
</html>